@spartacus:registry=https://73554900100900004337.npmsrv.base.repositories.cloud.sap/
//73554900100900004337.npmsrv.base.repositories.cloud.sap/:_auth=MDAwMDcyNTM4Ny1udXJheXgzOjBxY2ZjY0FtbXhPcWtiVDJFREx0eFZzOTNQeDlZVkdQ
always-auth=true
