<cx-spinner *ngIf="isLoading$ | async"></cx-spinner>
<form [hidden]="(isLoading$ | async)">
  <div class="container">
    <div #flowContainer id="flow-container"></div>
  </div>
  <span
    #errorMessage
    id="error-message"
    role="alert"
    aria-live="assertive"
    aria-atomic="true"
    class="sr-only"
    [attr.aria-hidden]="!webComponentsError">
  </span>
  <span
    #successMessageRef
    id="successful-payment-message"
    role="status"
    aria-live="polite"
    aria-atomic="true"
    class="sr-only"
    [attr.aria-hidden]="!successMessage">
  </span>
</form>
